@model List<Libro>
@{
    ViewData["Title"] = "Carrito";
}
<h1>Carrito</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               IdLibro
            </th>
            <th>
               Titulo
            </th>
            <th>
               Autor
            </th>
            <th>
               Editorial
            </th>
            <th>
               Portada
            </th>
            <th>
               Precio
            </th>
            <th>
               IdGenero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLibro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editorial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Portada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGenero)
                </td>
            </tr>
        }
        <tr>
            <a asp-controller="Libros" asp-action="VistaPedidos" asp-route-idusuario="@Context.User.FindFirst(ClaimTypes.NameIdentifier).Value" class="btn btn-danger">Finalizar pedido</a>
        </tr>
    </tbody>
</table>
